.header{
    font-family:"Avenir Next";
    padding-bottom:35px;
}

.logo img{
    width:30px;
    height:30px;
    float: left;
}

.logo p{
    font-size: 20px;
    float: left;
    margin-right: 10px;
    margin-left: 8px;
    margin-top:2px;
}

.header-list-kiri li{
    font-size: 13px; 
    list-style:none;
    float: left;
    margin-left: 35px;
    margin-top: 9px;
}

.header-list-kanan p{
    font-size: 13px; 
    list-style:none;
    float: right;
    margin-right: 35px;
    margin-top: 9px;
}

.header-list-kanan span{
    margin-left: 25px;
    border: 10px solid darkblue;
    background-color: darkblue;
    color: white;
}

.joinus {
    border: 3px solid #2f5167;
    padding: 20px 50px 20px 400px;
    color:white;
    background-color: #2f5167;
}

.joinus span{
    border: 10px solid cornflowerblue;
    margin-left: 20px;
    background-color:cornflowerblue;
    color:white;
}

.banner{
    font-family:"Avenir Next";
}

.contents img {
    height: 600px;
    width: 700px;
    float: left;

}

.contents h1{
    padding-top: 70px;
    font-size: 60px;
    font-family:"Stencil Std";
}

.contents p{
    font-size: 25px;
}

.square {
    border: 20px solid #2f5167;
    margin-top: 280px;

}

.password, .email, .submit{
    width:300px;
    margin-top:5px;
    margin-bottom:5px;
    padding: 1px;
    font-size:18px;
    border: 1px solid #dee7ec;
}

.submit{
    background-color: #dee7ec;
    color: #889eab;
    font-family:"Avenir Next";
}

